* {
    box-sizing: border-box;
    font-size: 12px;
  }

  .app {
    height: 100vh;
    width: 100vw;
  }

  .table {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: #00512c;
    text-align: center;
  }